body {
  color: white;
  background: #26064b;
  margin: 0px;
  font-family: "Dancing Script", cursive;
}


header {
  border-bottom: solid 2px #b125ff;
  padding: 20px;
  font-size: 40px;
  color: #b125ff;
}

section{
  backgroud: #0628e9;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.texto {
  margin-right: 5%;
}

h1 {
  font_size: 40px
}

p {
  font-size: 20px;
}

.outros {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.outrosvideos {
  padding-right: 20px;
  padding-left: 20px;
}






